*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    background-color: black;
}
#box{
    height: 500px;
    width: 500px;
    /* background: linear-gradient(to right ,red,yellow); left (to right) */
    /* background: linear-gradient(to right bottom ,red,yellow); to diagonal */
    /* background: linear-gradient(to right bottom ,red 50%,yellow 50%); manage color weitage */
    /* background:radial-gradient(red, yellow, red); */
    /* background: conic-gradient(orange, white, green, orange); */
    
}
/*image in Background*/
#box1{
    height: 100%;
    width: 100%;
    /* background-image: url(https://i.pinimg.com/1200x/71/a6/c6/71a6c66103b50682e94dfc7c4bbca396.jpg); */
    background-image: url(https://i.pinimg.com/736x/65/3d/0d/653d0d92cf81f9929fb88cbcf5874569.jpg);
    background-size: cover; /*image cover width wise*/
    /* background-size: contain; image cover length wise
    background-repeat: no-repeat; */
    background-position: center;
}
/*Some important properties of CSS*/
#box2{
    height: 300px;
    width: 300px;
    background-color: cornflowerblue;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
button{
    margin: 100px;
    padding: 5px 30px;
    font-weight: 800;
    background-color: aqua;
    border-radius: 50px;
    font-size: 50px;
}
#box3{
    height: 400px;
    width: 400px;
    background-color: aqua;
    margin: 200px;/*we can give value in negative only in margin*/
    border: 10px solid yellow; /*solid,dashed,dottted*/
    /* border: none; */
    border-radius: 10px;
}