*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 0.5fr 0.5fr;
    grid-template-areas: "header header header"
                         "section section section"
                         "div1 div2 div4"
                         "div1 div3 div4";
    grid-gap: 5px;
}
header{
    background-color: rgb(87, 4, 4);
    grid-area: header;
}
section{
    background-color: green;
    grid-area: section;
}
#div1{
    background-color: pink;
    grid-area: div1;
}
#div2{
    background-color: yellow;
    grid-area: div2;
}
#div3{
    background-color: yellowgreen;
    grid-area: div3;
}
#div4{
    background-color: blue;
    grid-area: div4;
}
.all{
    border: 3px dashed white;
}